.reluctant-stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.reluctant-circle {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 96px;
  height: 96px;

  border-radius: 50%;
  background: #f2f2f2;

  transform: translate(-50%, -50%);
  pointer-events: none;
}
