.reluctant-stage {
  position: relative;
  width: 100%;
  height: 100%;
}

.reluctant-circle {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #f2f2f2;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: none;
}
